{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Account{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-6 col-xxl-5">
      {{ form_start(accountForm) }}
        {{ form_rest(accountForm) }}

        <div class="form-group">
          <button class="btn btn-primary">Update info</button>
        </div>
      {{ form_end(accountForm) }}
    </div>
  </div>

  <div class="form-fieldset field-form_fieldset">
    <div class="form-fieldset-header with-help">
      <div class="form-fieldset-title">
        <span class="not-collapsible form-fieldset-title-content">Password</span>
        <div class="form-fieldset-help">Keep your password safe and secure</div>
      </div>
    </div>

    <div class="form-fieldset-body show">
      <div class="row">
        <div class="col-md-6 col-xxl-5">
          {{ form_start(passwordForm) }}
            {{ form_rest(passwordForm) }}

            <div class="form-group">
              <button class="btn btn-primary">Update password</button>
            </div>
          {{ form_end(passwordForm) }}
        </div>
      </div>
    </div>
  </div>

  <div class="form-fieldset field-form_fieldset">
    <div class="form-fieldset-header with-help">
      <div class="form-fieldset-title">
        <span class="not-collapsible form-fieldset-title-content">{{ 'Multi-factor authentication'|trans }}</span>
        <div class="form-fieldset-help">{{ 'account.mfa.help'|trans }}</div>
      </div>
    </div>

    <div class="form-fieldset-body show">
      <div class="row">
        <div class="col-md-6 col-xxl-5">
          {% if app.user.totpAuthenticationEnabled %}
            <p>{{ 'account.mfa.state-enabled'|trans }}</p>
          {% else %}
            <p><strong>{{ 'account.mfa.state-disabled'|trans }}</strong></p>
          {% endif %}

          <a href="{{ path('dashboard_account_mfa') }}" class="btn btn-primary">
            {{ app.user.totpAuthenticationEnabled ? 'account.mfa.disable'|trans : 'account.mfa.enable'|trans }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
