{% extends '@EasyAdmin/page/content.html.twig' %}

{% form_theme form 'dashboard/dashboard_form_theme.html.twig' %}

{% block content_title %}{{ 'Multi-factor authentication'|trans }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-6 col-xxl-5">
      {{ form_start(form) }}
        {{ form_rest(form) }}

        <div class="btn-toolbar">
          <button class="btn btn-primary">{{ 'account.mfa.disable'|trans }}</button>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
