{% extends 'dashboard/security/security_layout.html.twig' %}

{% block main %}
  <p class="lead">Create an account</p>

  {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <div class="form-group">
      <button class="btn btn-primary">Create account</button>
    </div>
  {{ form_end(form) }}
{% endblock main %}
