{% extends 'dashboard/security/security_layout.html.twig' %}

{% form_theme form 'dashboard/dashboard_form_theme.html.twig' %}

{% block main %}
  <p class="lead">Create an account</p>

  {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <div class="btn-toolbar">
      <button class="btn btn-primary btn-lg btn-block">Create account</button>
    </div>
  {{ form_end(form) }}
{% endblock main %}
