{% extends ea.templatePath('layout') %}

{% block page_title ea.dashboardTitle|raw %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
  <div class="login-wrapper">
    <header class="main-header">
      <div id="header-logo">
        <a href="{{ path('dashboard') }}" class="logo logo-long">
          {{ block('page_title') }}
        </a>
      </div>
    </header>

    <section class="content">
      <p class="lead">Reset account password</p>

      {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger rounded mb-3" role="alert">{{ flash_error }}</div>
      {% endfor %}

      {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <div class="form-group">
          <button class="btn btn-primary">Send email</button>
        </div>
      {{ form_end(requestForm) }}
    </section>
  </div>

  <script src="{{ asset('login.js', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}"></script>
{% endblock wrapper_wrapper %}
