{% extends ea.templatePath('layout') %}

{% block page_title ea.dashboardTitle|raw %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
  <div class="login-wrapper">
    <header class="main-header">
      <div id="header-logo">
        <a href="{{ path('dashboard') }}" class="logo logo-long">
          {{ block('page_title') }}
        </a>
      </div>
    </header>

    <section class="content">
      <p class="lead">Password reset email sent</p>

      <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
      </p>
      {% set requestUrl = path('dashboard_reset_password_request') %}
      <p>If you don't receive an email please check your spam folder or <a href="{{ requestUrl }}">try again</a>.</p>
    </section>
  </div>

  <script src="{{ asset('login.js', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}"></script>
{% endblock wrapper_wrapper %}
