{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ ea.dashboardTitle }}{% endblock %}

{% block search_wrapper %}
  {% include 'dashboard/packages/_search_box.html.twig' %}
{% endblock %}

{% block page_content %}
  <p>Welcome to <a href="https://dirigent.dev">Dirigent</a>, a free and open package registry for <a href="https://getcomposer.org">Composer</a>.</p>

  <div class="mb-3">
    <div class="row">
      <div class="col-md-4">
        <div id="total_packages" class="card mb-2">
          <div class="card-body">
            <div>{{ 'Packages'|trans }}</div>
            <div class="display-6">{{ packageCount|number_format(thousandSep: ' ') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="h5">Use this registry in a Composer project</h2>

  <p>To use this registry in a project, run the following command in your terminal:</p>

  <div class="bg-body-secondary px-3 py-2 mb-3 rounded">
    <pre class="m-0"><code>composer config repositories.{{ dirigent.slug }} composer {{ app.request.getSchemeAndHttpHost() }}</code></pre>
  </div>

  {% if app.request.scheme == 'http' %}
    <p>Since this registry isn't using HTTPS, you need to disable TLS as well:</p>

    <div class="bg-body-secondary px-3 py-2 mb-3 rounded">
      <pre class="m-0"><code>composer config disable-tls true</code></pre>
    </div>
  {% endif %}

  <p>Or add it directly in the <code>composer.json</code> file:</p>

  <div class="bg-body-secondary px-3 py-2 mb-3 rounded">
<pre class="m-0"><code>{
    "repositories": {
        "{{ dirigent.slug }}": { "type": "composer", "url": "{{ app.request.getSchemeAndHttpHost() }}" }
{% if app.request.scheme != 'http' %}
    }
{% else %}
    },
    "config": {
        "disable-tls": true
    }
{% endif %}
}</code></pre>
  </div>

  {% if app.user %}
    <h2 class="h5">Setup authentication</h2>

    <p>Store the authentication credentials in the global Composer <code>auth.json</code> with the command below.</p>

    <div class="bg-body-secondary px-3 py-2 mb-3 rounded">
      <pre class="m-0"><code>composer config --global http-basic.{{ app.request.getHost() }} {{ app.user.username }} &lt;access-token&gt;</code></pre>
    </div>
  {% endif %}
{% endblock %}
